<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <fa-icon [icon]="faMapMarkerAlt" class="text-primary" size="6x"></fa-icon>
        <h1 class="text-capitalize">mobile data marketplace</h1>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <fa-icon [icon]="faMobileAlt" class="m-auto text-primary"></fa-icon>
          </div>
          <h3>Mobile</h3>
          <p class="lead mb-0">Track your positions with<br>our mobile app</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <fa-icon [icon]="faFileUpload" class="m-auto text-primary"></fa-icon>
          </div>
          <h3>Upload</h3>
          <p class="lead mb-0">Load the archives<br>of your positions</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <fa-icon [icon]="faCoins" class="m-auto text-primary"></fa-icon>
          </div>
          <h3>Earn</h3>
          <p class="lead mb-0">Receive a cash payment<br>for your data</p>
        </div>
      </div>
    </div>
  </div>
</section>
