<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div class="row justify-content-center" style="margin : 1em">
        <ngb-datepicker #dp (select)="onDateSelection($event)" [dayTemplate]="t" [displayMonths]="2">
        </ngb-datepicker>

        <ng-template #t let-date="date" let-focused="focused">
          <span (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null"
                [class.faded]="isHovered(date) || isInside(date)"
                [class.focused]="focused"
                [class.range]="isFrom(date) || isTo(date) || isInside(date) || isHovered(date)"
                class="custom-day">
            {{ date.day }}
          </span>
        </ng-template>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="row justify-content-center" style="margin : 1em">
        <ngb-timepicker [(ngModel)]="time1" align="right"></ngb-timepicker>
        <ngb-timepicker [(ngModel)]="time2"></ngb-timepicker>
      </div>
    </div>

  </div>
  <div class="row justify-content-center" style="margin : 1em">
    <button (click)="askPosition()" class="btn btn-success" type="submit">Chiedi posizioni</button>
  </div>
</div>

